<% include partials/header_admin %>

<div class="ui main text container segment">
  <div class="ui huge header">Edit <%= collector.name %> </div>
  <form class="ui form" action="/collectors/<%= collector._id %>?_method=PUT" method="POST">
      <div class="field">
        <label>Collector ID</label>
        <input type="text" value="<%= collector.collectorid %>" name="collector[collectorid]">
      </div>
      <div class="field">
        <label>Name</label>
        <input type="text" value="<%= collector.name %>" name="collector[name]">
      </div>
      <div class="field">
        <label>Email</label>
        <input type="text" value="<%= collector.email %>" name="collector[email]">
      </div>
      <div class="field">
        <label>Mobile Number</label>
        <input type="text" value="<%= collector.mobile %>" name="collector[mobile]">
      </div>
       <div class="field">
         <label>Gender</label>
  <select name="collector[gender]">
    <!-- <option value="none">Options</option> -->
    <option value="male">Male</option>
    <option value="female">Female</option>
    <option value="other">Other</option>
  </select>

    <div class="field">
      <label>Age</label>
      <input type="Number" placeholder="Age" name="collector[age]">
    </div>
    <div class="field">
      <label>Address</label>
      <input type="text" placeholder="Address" name="collector[address]">
    </div>
    <div class="field">
      <label>Truck ID</label>
      <input type="Number" placeholder="Truck ID" name="truck[truckId]">
    </div>
    <div class="field">
      <label>Capacity</label>
      <input type="Number" placeholder="Capacity" name="truck[capacity]">
    </div>
    <div class="field">
      <label>Model</label>
      <input type="text" placeholder="Model" name="truck[model]">
    </div>
      <input class="ui violet big basic button" type="submit">
  </form>
</div>

<% include partials/footer_admin %>